//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$brand-white: #fff;
$brand-black: #000;
$brand-primary: #FF9000 !default;


#experience {
	padding: 7em 0;
	clear: both;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
}


// TIMELINE
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  &:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: lighten($brand-black,90%);
  left: 50%;
  margin-left: 0px;
  @media screen and (max-width: $screen-sm) {
    left: 30px;
  }
  @media screen and (max-width: $screen-xs) {
    left: 30px;
  }
}
.timeline-heading{
  @media screen and (max-width: $screen-sm) {
    margin-bottom: 30px;
  }
  >div{
    h3{
      display: inline-block;
      padding: 7px 15px;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: bold;
      background: lighten($brand-black,90%);
      @include border-radius(4px);
      @media screen and (max-width: $screen-sm) {
        float: left;
        margin-bottom: 0;
      }
    }
  }
}
> li{
  margin-bottom: 20px;
  position: relative;
  @media screen and (max-width: $screen-sm) {
    margin-bottom: 4em;	
  }
  &:before, &:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
  > .timeline-panel {
    width: 45%;
    float: left;
    margin-bottom: 0;
    position: relative;
    @include border-radius(4px);
    @media screen and (max-width: $screen-sm) {
      width: 85% !important;
    }
    @media screen and (max-width: $screen-xs) {
      width: 75% !important;
      &:before{
        top: 30px;
      }
      &:after{
        top: 31px;
      }
    }
  }
  > .timeline-badge {
    color: #fff;
    width: 44px;
    height: 44px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -21px;
    background-color: $brand-primary;
    z-index: 100;
    display: table;
    @include border-radius(50%);
    @media screen and (max-width: $screen-sm) {
      left: 30px;
    }
    @media screen and (max-width: $screen-md) {
      margin-left: -20px !important;
    }
    i{
      display: table-cell;
      vertical-align: middle;
      height: 44px;
      font-size: 18px;
    }
  }
  &.timeline-unverted{
    text-align: right;
    @media screen and (max-width: $screen-sm) {
      text-align: left;
      padding-left: 80px;
    }
  }
  &.timeline-inverted {
    > .timeline-panel {
      float: right;
      text-align: left;
      padding-right: 75px;
      left: -5px;
      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
  }
}
}

.timeline-title {
 margin-top: 0;
}
.company{
display: block;
margin-bottom: 20px;
font-size: 16px;
font-weight: normal;
color: lighten($brand-black, 75%);
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
margin-top: 5px;
}

@media (max-width: $screen-md) {
ul.timeline:before {
  left: 90px;
}

ul.timeline > li > .timeline-panel {
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  // width: 40%;
}

ul.timeline > li > .timeline-badge {
  left: 15px;
  margin-left: 0;
  top: 16px;
}

ul.timeline > li > .timeline-panel {
  float: right;
}

ul.timeline > li > .timeline-panel:before {
   border-left-width: 0;
   border-right-width: 15px;
   left: -15px;
   right: auto;
}

ul.timeline > li > .timeline-panel:after {
   border-left-width: 0;
   border-right-width: 14px;
   left: -14px;
   right: auto;
}
}